

    <h2></h2>

    <div class="social-login-block form-placeholder">
        <h2>Social accounts</h2>
        <p>Connect your social accounts to Mindstage</p>

        <table class="table table-striped">
            <col width="20">
            <tr>
                <td class=""><span href="#" class="zocial facebook social-color-fb"></span><i class="icon-ok-sign"></i></td>
                <td>
                    <span class="opacity30 fz18">Facebook</span><br>
                    <small class="fz12">
                        <a class="fz12 black" href="#"><i class="icon-unlock"></i> Disconnect account</a>
                    </small>
                </td>
            </tr>
            <tr>
                <td class=""><span class="zocial googleplus social-color-google"></span><i class="icon-ok-sign"></i></td>
                <td>
                    <span class="opacity30 fz18">Gogle Plus</span><br>
                    <small class="fz12">
                        <a class="fz12 black" href="#"><i class="icon-unlock"></i> Disconnect account</a>
                    </small>
                </td>
            </tr>
            <tr>
                <td><a href="#" class="zocial twitter social-color-twitter"></a></td>
                <td><a class="fz22 mt5 dib" href="#">Twitter</a></td>
            </tr>
            <tr>
                <td><a href="#" class="zocial vk social-color-vk"></a></td>
                <td><a class="fz22 mt5 dib" href="#">VKontakte</a></td>
            </tr>
        </table>
    </div>
