

<div class="form-placeholder mb40">
    <h2 class="ml100 pl50">Password reset</h2>
    <form action="#" class="form-horizontal_full">
        <div class="control-group">
            <label for="password" class="control-label">Old password</label>
            <div class="controls">
                <input type="password" placeholder="●●●●●" id="password">
                <div class="help-block">Enter your old password</div>
            </div>
        </div>
        <div class="control-group">
            <label for="new_password" class="control-label">New password</label>
            <div class="controls">
                <input type="password" placeholder="●●●●●" id="new_password">
            </div>
        </div>
        <div class="control-group">
            <label for="repeat_password" class="control-label">Repeat</label>
            <div class="controls">
                <input type="password" placeholder="●●●●●" id="repeat_password">
                <div class="help-block">Repeat your new password to confirmation</div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn"><i class="icon-refresh"></i> Change password</button>
            </div>
        </div>
    </form>
</div>
