@baseColor: #006b97;

@footer-height: 95px;

@sf-padding-left: 33px;
@sf-padding-right: 10px;



.context_menu_style {
    background: #333;
    border-radius: 2px;
    border: 1px solid #1c1c1c;
    position: absolute;
    width: 158px;

    box-shadow: 0 7px 15px #000;

    .icon-caret-up {
      font-size: 20px;
      position: absolute;
      margin-top: -17px;
      color: #333;
      left: 50%;
      margin-left: -5px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        border-bottom: 1px solid #292929;
        border-top: 1px solid #454545;

        font-size: 12px;

        &:first-child { border-top: 0; }
        &:last-child { border-bottom: 0; }

        a {
          border: 0;
          font-weight: bold;
          color: #e2e2e2;
          text-decoration: none;
          padding: 4px 0 4px 12px;
          display: block;

          &:hover {
            color: darken(#e2e2e2, 10%);
            text-decoration: none;
            background: darken(#333, 5%);
          }
          .icon {
            width: 16px;
          }
        }
      }
    }
}