@import 'bootstrap';
@import 'bootstrap/responsive';
@import 'components/utils';
@import 'header';
@import '../modules/font-awesome/font-awesome';
@import '../modules/zocial/zocial';
@import 'base-var';

// Прижимаем подвал
html, body { height: 100%; }
#page-wrapper { min-height: 100%; margin-bottom: -@footer-height;}
#page-buffer {height: @footer-height}

@media (min-width: 1200px) {
  #base-header {
    .logo {
      margin-right: 30px;
    }
    .menu {
      margin-right: 30px;
      ul {
        li {
          a {
            padding: 0 18px;
          }
        }
      }
    }
    .search-bar {
      margin-right: 20px;
      .search-field {
        width: 310px - @sf-padding-left - @sf-padding-right;
      }
    }
    .events {
      margin-right: 20px;
    }
    .userblock {
      cursor: pointer;
    }
  }
}
@media (max-width: 767px) {
  #base-header {
    height: auto;
    padding: 0 10px;

    #menu-expand {
      display: block;
      float: right;

      background: #346186;
    }

    .logo,
    .menu,
    .search-bar,
    //.events,
    .userblock {
      float: none;
      display: block;
    }
    .menu {
      &__inner {
        height: auto;
        ul {
          border: none;
          li {
            border: none;
            display: block;
            a {
              border: none;
              display: block;
            }
            display: block;
          }
        }
      }
    }
    .events {
      border: none;
      &__inner {
        border: none;
      }
    }
  }
}

.timer() {
  .timer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    padding: 0px 5px;
    font-size: 11px;
  }
}

#footer {
  @footer-padding-top: 30px;
  @footer-padding-bottom: 30px;
  height: @footer-height - @footer-padding-top - @footer-padding-bottom;
  background: #f2f2f2;
  margin: 0;
  padding: @footer-padding-top 0 @footer-padding-bottom;
  text-shadow: 1px 1px 0 #fff;
}

// CONTENT
.discover {
  background: #f9f9f9;
}
.video-substrate,
.profile-substrate {
  background: #f9f9f9;
  border-bottom: 1px solid #ececec;
  padding: 10px 0 10px;
}
.profile-substrate {
  padding: 20px 0;
}


// sprites character //
.sprites-icon-user-micro { position: relative; top: 2px; }
.sprites-icon-viewed { position: relative; top: 3px; }
.sprites-icon-share { position: relative; top: 3px; }
.sprites-icon-heart { position: relative; top: 2px; }


.video-item-image {
  position: relative;
  .timer();
}

.comment-form {
  .me-avatar {
    float: left;
    &:after {
      .arrow(right, 3px, #c5c5c5);
      position: relative;
      right: 4px;

    }
  }
  form {
    margin: 0;
  }
  .textarea {
    padding-left: 60px;

    textarea {
      resize: none;
      width: 99%;
      border: 1px solid #c5c5c5;
      font-size: 12px;

      .box-shadow(~"inset 1px 1px 3px #ddd");
      &:focus {
        border-color: rgba(82,168,236,.8);
        outline: 0;
        outline: thin dotted \9; /* IE6-9 */
        .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
      }
    }
  }
}
.comment-item {
  .avatar {
    float: left;
  }
  &__body {
    padding-left: 60px;
  }
}
.item-description {
}


.btn.lefted {
  .border-radius(3px 0 0 3px);
  .buttonBackground(lighten(@baseColor, 12%), darken(@baseColor, 0%));
}
.subscribe {
  .btn {
    padding: 3px 15px;
  }
  .lefted {padding: 3px 8px;}
}

.btn-group-social {
  position: relative;
  top: -2px;
  .btn {
    padding: 5px 0;
    width: 34px;
  }
}
.btn-add-item {
  padding: 1px 8px;
  color: @linkColor;
}

#subscribe-content {
  .sprites-icon-user-micro {
    margin-left: 3px;
    width: 10px;
  }
}

.list_video-item {
  margin: 0 0 0 0;
  padding: 15px 10px 0px 10px;
  border-bottom: 1px solid #eee;

  &:hover {
    background: #fffcf2;
  }

  &__inner {
    .list_video-item-image {
      position: relative;
      display: inline-block;
      .timer();
    }
  }
}
.list_users-item {
  .subscribe {
    .opacity(10);
  }
  &:hover {
    .subscribe {
      .opacity(100);
    }
  }
}

.item-popover {

}
.item-menu-toggle {
  @color: #999;

  border-radius: 20px;
  border: 1px solid @color;
  display: inline-block;
  .square(14px);
  line-height: 16px;
  color: #bbb;
  text-align: center;

  & > .caret {
    margin-top: 5px;
    border-top-color: @color;
  }
}
.popover-menu {
  margin: 0; padding: 0;
  list-style: none;
  min-width: 140px;
  li {
    padding: 4px 2px;
    border-bottom: 1px solid #eee;
    a {
      display: block;
    }
    &:last-child {
      border: none;
    }
  }
}

.left-menu {
  &__inner {
    padding: 10px 0 0;
    & > ul {
      list-style: none;
      margin: 0;
      font-size: 14px;

      & > li {
        border-bottom: 1px solid #e4e4e4;
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;

        &:last-child {
          border: none;
        }

        & > .item span,
        & > .item a {
          font-weight: bold;
          text-transform: uppercase;
        }
        & > .item span {
          color: #999;
        }
        .counter {
          float: right;
          font-size: 13px;
          font-weight: bold;
          color: #d5d5d5;
          margin-right: 5px;
          display: inline-block;
          width: 15px;
          text-align: center;
        }

        &.active {
          & > .item {
            display: block;
            padding: 3px 0 3px 7px;
            margin-left: -7px;
            #gradient > .vertical(lighten(@baseColor, 5%), darken(@baseColor, 3%));
            * {
              color: #fff;
            }
          }
        }
        & > ul.user-list {
          & > li {
            line-height: 28px;
          }
        }
        & > ul {
          list-style: none;
          font-size: 12px;
          margin: 5px 0 0;

          & > li {
            line-height: 22px;

            & > a {
              display: block;
              &:hover {
                text-decoration: none;
                color: darken(@baseColor, 5%);
              }
            }
            & > span { display: block; }
            &.active {
              display: block;
              padding: 3px 0 3px 7px;
              margin-left: -7px;
              #gradient > .vertical(lighten(@baseColor, 5%), darken(@baseColor, 3%));

              &:hover {
                #gradient > .vertical(lighten(@baseColor, 0%), darken(@baseColor, 5%));
              }

              * {
                color: #fff;
              }
              a {
                &:hover {
                  color: lighten(@baseColor, 65%);
                }
              }
            }
          }
        }
      }
    }

  }
}

.events {
  h4 {
    font-size: 13px;
    margin-bottom: 5px;
  }
  p {
    line-height: 15px;
    margin-bottom: 0;
  }
  td {
    padding: 0 0 0 10px;
    margin: 0;
    border: none;
  }
  .disabled {
    opacity: 0.7;
  }
  hr {
    margin: 10px -13px 0 0px;
    border-color: #f3f3f3;
  }
  .end{
    text-align:center;
    color:#b8b8b8;
    font-size:14px;
    line-height:round(14px*1.3);
    border: none;
  }
  .add{
    text-align:center;
    display:block;
    font-size:14px;
    line-height:round(14px*1.3);
    text-decoration:none;
    span{
      border-bottom:1px dashed;
    }
    &:hover{
      span{
        border-bottom:none;
      }
    }
  }
}

#masonry-container {
  margin: 0 -20px 0 -10px;
}

.settings-plate {
  background: rgba(255,255,255, 0.2);
  border: 1px solid rgba(255,255,255, 0.5);
  .border-radius(3px);
  padding: 2px 10px;
  margin: 4px 0 0 ;
}

.discover-item {
  width: 220px;
  float: left;
  .box-shadow(1px 1px 3px #999);
  .border-radius(4px);
  background: #fff;
  margin: 9px;
  &__inner {
    padding: 12px 10px;

    .img {
      position: relative;
      .timer();

      img {
        height: auto;
      }
    }

    hr {
      border-color: #efefef;
    }
  }

  &.big {
    width: 700px;
    img {
      height: auto;
    }
  }
}
.login-bg {
  #gradient > .vertical(#3977a3, #2e608c);
  background-color: #2e608c !important;
  height: 100%;

  #footer {
    background: none;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    a {
      color: #fff;
    }
  }
}
.form-plate {
  background: #f6f6f6;
  .box-shadow(2px 2px 7px #10202e);
  .border-radius(4px);
  padding: 20px 0;
  margin: 0 0 20px 0;

  .controls {
    position: relative;
  }
  .show-pass {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 100;

  }
}

.social-login-block {
  background: #eee;
  margin: 20px 0px -20px 0px;
  padding: 10px 20px 20px 170px;
  border-top:  1px solid #ddd;
  .border-radius(0 0 4px 4px);

  .icon-ok-sign,
  .icon-ok,
  .icon-ok-circle {
    position: absolute;
    font-size: 18px;
    z-index: 10;
    margin: 22px 0 0 -16px;
    color: #fff;
    .opacity(60);
  }

  a.zocial,
  span.zocial, {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    &:hover {
      text-decoration: none;
    }
  }
}

.social-color-fb {
  background: #3b5998;
  color: #fff; }
  .social-color-fb:hover {
    color: #bbc8e4; }

.social-color-vk {
  background: #597da3;
  color: #fff; }
  .social-color-vk:hover {
    color: #dce4ec; }

.social-color-google {
  background: #339b33;
  color: #fff; }
  .social-color-google:hover {
    color: #b4e6b4; }

.social-color-twitter {
  background: #00b9f4;
  color: #fff; }
  .social-color-twitter:hover {
    color: #c1f0ff; }


.subscriber-plate {
  background: rgba(0,0,0,.4);
  .dib;
  color: #fff;
  font-size: 0;

  a {
    font-size: 13px;
    color: #fff;
    padding: 5px 15px;
    border-right: 1px solid #333;
    .dib;
    margin: 0;

    &:last-child {
      border-right:0;
    }

    &.active {
      background: #000;
      position: relative;
      &:after {
        .arrow(bottom, 6px, #000);
        position: absolute;
        left: 50%;
        margin-left: -3px;
        bottom: -12px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#change-avatar {
  margin-left: -40px;
}
.avatar {
  position: relative;

  .change-avatar-link {
    display: block;
    background: #000;
    padding:  10px 20px;
    line-height: 20px;
    .opacity(80);
    position: absolute;
    bottom:  0;
    z-index: 10;
    width:  120px;
    color: #fff;
    text-decoration:  none;
    cursor: pointer;
  }
  .avatar-upload {
    display: block;
    position: absolute;
    .opacity(0);
    cursor: pointer;
  }
}
.menu {
  list-style: none;
  margin: 0 0 10px 0 ; padding: 0;

  li {
    border-bottom: 1px solid #eee;
    position: relative;
    a {
      display: block;
      padding: 5px;
      text-decoration: none;
      &:hover {
        background: @linkColor;
        color: #fff;
      }
    }
  }
}

.form-placeholder {
  background: #eee;
  //#gradient > .vertical(#fefefe, #eee);
  .border-radius(3px);
  padding: 20px 40px;
  //.box-shadow(0 3px 8px #999);
  margin: 20px 0 20px;
}

.panel {
  .box-shadow(1px 1px 4px #999);
  .border-radius(3px);
  padding: 15px 20px;

  h3 {
    margin: 0 0 10px;
  }
  p {
    margin: 0;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
.ajax-loader {
  margin-bottom: 20px;
  height: 36px;
  border: 1px solid #d5d5d5;
  .border-radius(3px);
  background: url('../img/ajax-loader.gif') no-repeat center center #f6f6f6;
}

hr {
  border: 0;
  border-top: 1px solid #e0e0e0;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  margin: 15px 0;
}
.opacity70 { .opacity(70); }
.opacity50 { .opacity(50); }
.opacity30 { .opacity(30); }