#base-header {
  #gradient > .vertical(@baseColor, darken(@baseColor, 0%));
  height: 42px;
  .box-shadow(~"inset 0 -3px 5px #355671");

  #menu-expand { display: none; }
  .nav-collapse {
    display: inline;
  }
  .logo {
    float: left;
    margin-right: 16px;
    height: 32px;
    vertical-align: middle;
    padding: 10px 0 0;
    z-index: 10;

  }
  .menu {
    float: left;
    margin: 0 12px 0 0;
    z-index: 10;

    &__inner {
      height: 42px;

      ul {
        margin: 0;
        padding: 0;

        font-size: 13px;
        font-weight: bold;

        li {
          display: inline-block;
          line-height: 42px;
          border: none;

          a {
            position: relative;
            display: inline-block;
            height: 42px;
            text-decoration: none;
            color: #fff;
            text-shadow: 0px 1px 1px #000;
            padding: 0 11px;
            border-left: 1px solid darken(@baseColor, 10%);
            border-right: 1px solid lighten(@baseColor, 5%);

            &:hover {
              #gradient > .vertical(lighten(@baseColor, 5%), lighten(@baseColor, 2%));
            }
          }
          &.active {
            a {
              color: #9cc1e1;
              #gradient > .vertical(darken(@baseColor, 10%),lighten( @baseColor, 10%));
              .box-shadow(~"inset 0 3px 12px #354f60");
            }
          }
        }
        border-left: 1px solid #41749e;
        border-right: 1px solid #355167;
      }
    }
  }
  .search-bar {
    position: relative;
    z-index: 100;
    margin: 0 0 0 0;
    float: left;

    &__inner {
      padding: 4px 0 0 0;
      position: relative;

      form {
        margin: 0;
      }

      .prefix {
        position: absolute;
        top: 14px;
        left: 12px;
        z-index: 100;
      }
      .search-field {
        padding: 0 @sf-padding-right 0 @sf-padding-left;
        width: 240px - @sf-padding-left - @sf-padding-right;
        height: 30px;
        font-size: 13px;
        .border-radius(30px);
        .box-shadow(~"inset 1px 2px 4px #9d9d9d, 0 1px 0px #5986ab");
        border: 1px solid darken(@baseColor, 8%);
      }
      .btn-search {
        display: none;
      }
    }
  }
  .events {
    float: left;
    height: 42px;
    border-right: 1px solid darken(@baseColor, 10%);
    border-left: 1px solid lighten(@baseColor, 5%);
    margin: 0 10px;

    &__inner {
      border-left: 1px solid darken(@baseColor, 10%);
      border-right: 1px solid lighten(@baseColor, 5%);
      height: 42px;
      //padding: 0 13px;

      //line-height: 42px;

      position: relative;

      .new-events {
        @size: 14px;

        display: inline-block;
        width: @size;
        height: @size;
        line-height: @size + 1;
        font-size: 8px;
        background: #dc2525;
        color: #fff;
        border-radius: 20px;
        text-align: center;
        position: absolute;
        right: 3px;
        top: 3px;
      }

      .event-link {
        width: 42px;
        height: 42px;
        display: inline-block;
        text-align: center;
        line-height: 42px;
        &:hover {
          background: lighten(@baseColor, 5%);
        }
        &.active {
          .box-shadow(0 0 3px rgba(0,0,0,0.3));
        }

      }

      .popover-box{
        position: relative;
        z-index: 1000;

        .close {
          cursor:pointer;
          @sizen:15px;
          display:inline-block;
          .ie7-inline-block();

          padding:4px;
          vertical-align:middle;
          color:#c9c9c9;
          .border-radius(100px);
          font-size: 16px;
          font-style: normal;
          font-weight: normal;
          border: none;
          background: none;
          position: absolute;
          right: 0;
        }
        .remove {
          cursor:pointer;
          @sizen:15px;
          display:inline-block;
          .ie7-inline-block();
          float:left;
          margin-left:-32px;
          margin-top: 7px;

          padding:4px;
          vertical-align:middle;
          color:#c9c9c9;
          .border-radius(100px);
          font-size: 12px;
          font-style: normal;
          font-weight: normal;

          .square(@sizen); //(height = width)
          text-align:center;

          line-height:@sizen;
          font-size:@sizen;
          &:hover{
            color:#fff;
            background-color:#c9c9c9;
          }
        }
        .popover{
          width: 400px;
          margin-left:0;
          left: -182px;
          top: 30px;

          font-size: 12px;
          color: #333;

          .popover-content {
            margin-left: 20px;
            padding-top: 0;
          }

          h4 {
            font-size: 13px;
            margin-bottom: 5px;
          }
          p {
            line-height: 15px;
            margin-bottom: 0;
          }
          td {
            padding: 0 0 0 10px;
            margin: 0;
            border: none;
          }
          .disabled {
            opacity: 0.7;
          }
          hr {
            margin: 10px -13px 0 -40px;
            border-color: #f3f3f3;
          }
          .end{
            text-align:center;
            color:#b8b8b8;
            font-size:14px;
            line-height:round(14px*1.3);
            border: none;
          }
          .add{
            text-align:center;
            display:block;
            font-size:14px;
            line-height:round(14px*1.3);
            text-decoration:none;
            span{
              border-bottom:1px dashed;
            }
            &:hover{
              span{
                border-bottom:none;
              }
            }
          }
          .end {
            height: 24px;
            #gradient > .vertical(#f3f7fc, #f3f7fc);
            margin: -1px -13px -26px -40px;
            padding: 5px 0 5px;
            font-weight: bold;
            font-size: 12px;
            line-height: 26px;
          }
          .arrow{
            left:50%;
            margin-left: -5px;
          }
        }
      }

    }
  }
  .userblock {
    float: left;
    line-height: 38px;
    &__inner {
      a {
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        text-shadow: 0px 1px 1px #000;

        &:hover {
          text-decoration: none;
        }
      }
      .caret {
        border-top-color: #fff !important;
        position: relative;
        top: 17px;
      }
      #userblock-popover {
        a {
          text-shadow: none;
        }
      }
    }
  }
}

.avatar  {
  .border-radius(3px);
  border: 1px solid #c5c5c5;
}
