@import 'bootstrap';
@import 'bootstrap/responsive';
@import 'components/utils';
@import '../modules/font-awesome/font-awesome';
@import '../lib/jqueryui/css/mindstage-theme/jquery-ui-1.10.3.custom.less';
@import 'base-var';
@import 'header';

@minWidthCenterColumn: 940px;
@minWidthColumn: 200px;
@backgroundColor: #1c1c1c;
@panelColor: #333;

html, body {
  height: 100%;
  font-size: 13px;
}
body {
  background: @backgroundColor;
  color: #aaa;
}

/* mixins */
.column() {
  position: relative;
  min-width: @minWidthColumn;
  display: table-cell;
  min-height: 100%;
  height: 100%;
  vertical-align: top;
}
.panel-color() {
  background: @panelColor;
  border-top: 1px solid lighten(@panelColor, 10%);
  border-bottom: 1px solid darken(@panelColor, 10%);
}
.widget-item() {
  margin: 0;
  padding: 4px 0 0 0;
  width: 80px;
  height: 80px - 4px;
  text-align: center;
  display: inline-block;
  .border-radius(3px);
  cursor: pointer;

  span {
    display: block;
    font-weight: bold;
    color: #e2e2e2;
    text-shadow: 1px 1px 0 #000;
  }
  &:hover {
    background: darken(@panelColor, 3%);
  }
  a {
    border: none;
    &:hover {
      border: none;
      text-decoration: none;
    }
  }
}


/* layout */
#rec-wrapper {
  height: 100%;

  #rec-header {
    .left-column {
      border-right: 1px solid lighten(@baseColor, 5%);
    }
    .center-column {
      border-left: 1px solid darken(@baseColor, 10%);
      border-right: 1px solid lighten(@baseColor, 5%);
      padding: 0 39px;

      &__inner {
        min-width: @minWidthCenterColumn;
        color: #fff;
      }
    }
    .right-column {
      border-left: 1px solid darken(@baseColor, 10%);
    }
  }
  #rec-body {
    display: table;
    width: 100%;

    #rec-left-column {
      .column();
      .panel-color();
      width: 280px;
    }
    #rec-center-column {
      .column();
      padding: 22px 40px 35px;

      .box-shadow(~"inset 0 0 15px #000");

      #rec-workspace {
        min-width: @minWidthCenterColumn;
        min-height: 560px;

        .box-shadow(0 10px 15px rgba(0,0,0,0.85));
      }
    }
    #rec-right-column {
      .column();
      .panel-color();
      width: 280px;
    }
  }
  #rec-bottom {
    min-height: 100px;
    .panel-color();

    .panel {
      height: auto;
      min-height: auto;
    }
  }

}
.left-column { .column(); width: 280px; }
.center-column { .column(); }
.right-column { .column(); width: 280px; }


.btn-menu {
  float: left;
  padding: 8px 10px;
  width: 16px;

  .buttonBackground(lighten(@baseColor, 1%), darken(@baseColor, 3%));
  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075), 0 1px 2px rgba(0,0,0,0.75)");
  .border-radius(3px);
  &:hover {
    .buttonBackground(lighten(@baseColor, 7%), lighten(@baseColor, 1%));
  }
  &:active {
    .box-shadow(~"inset 0 3px 3px rgba(0,0,0,.5)");
    .buttonBackground(darken(@baseColor, 4%), darken(@baseColor, 9%));
  }
  .icon-bar {
    display: block;
    width: 15px;
    height: 2px;
    background-color: #f5f5f5;
    .border-radius(4px);
    .box-shadow(0 1px 0 rgba(0,0,0,.25));
  }
  .icon-bar + .icon-bar {
    margin-top: 3px;
  }
}
.btn-recorder {
  border: 1px solid #0d0d0d !important;
  font-weight: normal;
  font-size: 13px;
  padding: 1px 8px;
  vertical-align: middle;
  text-decoration: none !important;

  .buttonBackground(#323232, #272727, #aaaaaa);
  .border-radius(2px);
  .box-shadow(~"inset 0 1px 0 #434343, 0 1px 0 #515151");

  &:active {
    .box-shadow(~"inset 0 2px 4px #000, 0 1px 0 #515151");
  }

  [class*='rec_sprite'],
  [class*='icon'] {
    vertical-align: middle;
  }
}
.btn-recorder-passive {
  border: none;
  background: none;
  .box-shadow(none);
  border: none;
  padding: 2px 9px;
  color: #aaa;
  font-size: 13px;
  font-weight: normal;

  &:hover { .btn-recorder(); }

  &:active {
    .box-shadow(~"inset 0 2px 4px #000, 0 1px 0 #515151");
  }
  [class*='rec_sprite'],
  [class*='icon'] {
    vertical-align: middle;
  }
}
.btn-stage {
  font-size: 16px;
  padding: 13px 0px;
  line-height: 30px;

  .buttonBackground(#3d3d3d, #313131, #aaaaaa);
  .border-radius(2px);
  .box-shadow(~"inset 0 1px 0 #434343, 0 2px 1px #111");
  text-shadow: 1px 1px 0 #000;

  &:active {
    .box-shadow(~"inset 0 2px 4px #000, 0 1px 0 #515151");
  }
}
.project-url {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000;
  margin: 12px 0 0 10px;
  font-size: 12px;
}

.stage-video-block {
  @media (min-width: 240px) {
    .btn-stage {
      font-size: 14px;
    }
    .widget-item {
      font-size: 11px;
    }
  }
  &__inner {
    padding: 5px;
    height: 60px;
    background: #282828;

    .btn-stage {
      display: block;
      float: left;
      width: 65% !important;
    }
    .widget-item {
      display: block;
      float: left;
      width: 35% !important;
      height: 60px !important;
      .widget-item();
      padding: 0;
      span {
        margin-top: -7px;
      }
    }
  }
}

.accordion {
  margin: 0;

  .accordion-group {
    border: none;
    margin: 0;

    .accordion-title {}
    .accordion-body {
      display: none;
      overflow: auto;
      width: 99%;
      height: 0;
      border-top: 1px solid lighten(@panelColor, 10%);
    }

    &.active {
      .accordion-body {
        display: block;
      }
    }
  }
}

.column-block-title {
  border-top: 1px solid lighten(@panelColor, 10%);
  border-bottom: 1px solid darken(@panelColor, 10%);
  cursor: pointer;

  &__inner {
    #gradient > .vertical(#303030, #272727);
    height: 36px;
    line-height: 36px;
    color: #aaa;
    padding: 0 15px 0 15px;
    &:hover {
      #gradient > .vertical(lighten(#303030, 2%), lighten(#272727, 2%));
    }
    & > span {
      font-weight: bold;
      text-shadow: 1px 1px 1px #000;
    }
  }
}

.widgets-list {
  margin-right: 5px;
  &__inner {
    ul {
      list-style: none;
      margin: 10px 0 10px 10px;
      padding: 0;

      li {
        .widget-item();
      }
    }
  }
}
#rec-body {
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    padding: 1px 0;
    background: #1c1c1c;
    width: 100%;
    color: #aaa;
    min-width: 50px;
    font-size: 12px;
    border: 1px solid #0d0d0d;
    .box-shadow(~"0 1px 0 #515151");
    .border-radius(2px);
    margin: 0;
  }
}

.form {
  vertical-align: middle;

  td {
    vertical-align: top;
    padding: 3px 10px 3px 0;

    img {
      width: auto;
      max-width: none;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
.w100 {
  width: 100% !important;
  padding-right: 0;
  padding-left: 0;
}

.input-checkbox {
  background: url('../img/recorder/checkbox.png') no-repeat left top;
  display: inline-block;
  height: 17px;
  width: 20px;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;

  &:hover {
    background: url('../img/recorder/checkbox.png') no-repeat left -17px;
  }
  &.active {
    background: url('../img/recorder/checkbox.png') no-repeat left -34px;
    &:hover {
      background: url('../img/recorder/checkbox.png') no-repeat left bottom;
    }
  }
}

.stages {
  position: relative;
  padding: 0 6px;
  &__scroll {
    height: auto;
    width: 100%;
    overflow: auto;
    height: 125px;
  }
  &__inner {
    .stages-block,
    .stages-action {
      display: inline-block;
      .ie7-inline-block();
      position: relative;
      padding: 7px 7px 0 0;
      vertical-align: top;

      &__inner {
        background: #484848;
        .border-radius(3px);
        padding: 3px;
        height: 60px;

        .stages-item {
          display: inline-block;
          .ie7-inline-block();
          cursor: pointer;
          margin-right: 0px;

          &.active {
            margin: -3px;
            border: 3px solid #979797;
            .border-radius(3px);
            .box-shadow(0 1px 4px #000);
          }
        }
      }
      &__title {
        color: #fff;
        font-size: 11px;
        text-shadow: 1px 1px 0 #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        width: 100%;
        max-width: 100%;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 2px;
          z-index: 10;
          width: 40px;
          height: 18px;
          #gradient > .horizontal(rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
          background-color: rgba(51, 51, 51, 0) !important;
          //background: red;
        }
      }
      &__copy-stage {
        display: inline-block;
        background: url('../img/recorder/icon-copy-big.png') no-repeat center center;
        width: 80px;
        height: 60px;
        cursor: pointer;
      }
      &:after {
        content: '';
        position: absolute;
        display: inline-block;
        background: url('../img/recorder/stages-splitter.png') no-repeat;
        .ie7-inline-block();
        width: 13px;
        height: 84px;
        right: -4px;
        top: -4px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .jspHorizontalBar {
    top: 105px;
  }
}
.splitter {
  height: 0px;
  .panel-color();
}
.stages-row {
  position: absolute;
  right: 0;
  height: 22px;
  margin: -30px 0 8px;

  .scroll-bar {
    position: relative;
    padding-right: 200px;
  }
  .tool-bar {
    float: right;
    width: 200px;
    margin-right: -200px;
    position: relative;
    z-index: 10001;
  }
}
.timeline-row {
  height: 22px;
  margin: 5px 0 10px;

  .scroll-bar {
    padding-right: 370px;
  }
  .tool-bar {
    float: right;
    width: 370px;
    margin-right: -370px;
    position: relative;
    z-index: 10001;
  }
}

.tool-bar {
  text-align: right;
  vertical-align: middle;
  padding: 0 15px 0 0;

  a {
    cursor: pointer;
    margin: 0 2px;
    .opacity(80);
    &:hover {
      .opacity(100);
    }
  }
  .btn {
    .opacity(100);
    margin: 0 1px;
  }
  .splitter {
    position: relative;
    display: inline-block;
    width: 0px;
    height: 15px;
    margin: 0 4px;
    top: 3px;
    border-right: 1px solid #191919;
    border-right: 1px solid #4b4b4b;
  }
}


.timelines {
  margin-bottom: 6px;

  &__inner {
    .time-study {
      background: rgba(0,0,0,0.8);
      padding: 4px 12px;
      position: absolute;
      right: 0;
      z-index: 10;
    }
    .titles {
      width: 68px;
      position: absolute;
      z-index: 100;
      margin: 0 0 0 15px;
      height: 117px;
      .transition(~"all linear .3s");


      &.shadow {
        .box-shadow(5px 0 10px rgba(0,0,0, 0.7));
      }
      &__inner {
        position: relative;
        z-index: 100;
        margin: -5px 0 0px 0;
        padding: 10px 0 10px 0;
        background: @panelColor;
      }
      &__item {
        margin: 12px 0;
        font-size: 13px;
        i {
          width: 16px;
        }
      }
    }
    .cursor {
      background: url('../img/recorder/timline-cursor.png') no-repeat;
      width: 9px;
      height: 102px;
      position: absolute;
      top: 13px;
    }
    .lines {
      margin: 0 40px -40px 83px;
      padding-bottom: 40px !important;
      overflow: hidden;
      height: 117px;
      position: relative;

      .jspHorizontalBar {
        top: 140px;
        left: 0px;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 2px;
        z-index: 5;
        width: 40px;
        height: 108px;
        #gradient > .horizontal(rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
        background-color: rgba(51, 51, 51, 0) !important;
        //background: red;
      }

      &__inner {
        .times {
          font-size: 10px;
          color: #787878;
          height: 16px;
          .time {
            position: relative;
            top: -2px;
            display: inline-block;
            width: 150px;
          }
        }

        .line-item {
          height: 30px;
          margin-bottom: 2px;

          .area {
            display: inline-block;
            height: 28px;
            border: 1px solid;
            .border-radius(3px);
            cursor: pointer;
          }
          .passive {
            background-image: url('../img/recorder/timeline-passive.png');
          }
          .part {
            display: inline-block;
            height: 100%;
            border-right: 1px solid;
            margin-right: -1px;
            font-size: 11px;

            span {
              display: none;
              color: #aaaaaa;
              position: absolute;
              padding: 5px 0 0 10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: clip;
            }
            &.active {
              span {
                display: inline-block;
              }
            }
            &:last-child {
              border: none;
            }
            &:hover {
              background: rgba(0,0,0,0.05);
            }
          }

          .blue {
            background-color: #343b47;
            border-color: #262c36;

            .part {
              border-color: #262c36;
              &.active {
                background: #262c36;
              }
            }
          }
          .anthracite {
            background-color: #4e3e50;
            border-color: #342737;
            .part {
              border-color: #342737;
              &.active {
                background: #342737;
              }
            }
          }
          .yellow {
            background-color: #504b3e;
            border-color: #3f3a2c;
            .part {
              border-color: #3f3a2c;
              &.active {
                background: #3f3a2c;
              }
            }
          }
          .null { border: none; }

        }
      }
    }
  }
}

.dashboard-project-list {
  &__inner {
    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-shadow: 0 1px 0 #000;
      & > li {
        margin: 0 20px 20px 0;
        padding: 15px;
        display: inline-block;

        width: 220px;
        height: 220px;
        cursor: pointer;

        #gradient > .vertical(lighten(#000, 20%), lighten(#000, 22%));
        .border-radius(4px);
        .box-shadow(0 2px 6px #000);
        .transition(opacity .15s linear);
        .opacity(80);

        &:hover {
          .opacity(100);
        }
        &.add-new {
          text-align: center;
          line-height: 220px;
          font-size: 120px;

          span {
            color: lighten(#000, 35%);
            text-shadow: 0 -1px 1px lighten(#000, 10%),
                         0 1px 0px lighten(#000, 60%);
            float: left;
            margin: 0px 0 0 40px;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .bottom-panel {
          background: lighten(#000, 32%);
          margin: 10px -15px -15px -15px;
          padding: 7px 15px 0px;
          height: 42px;
          border-top: 1px solid lighten(#000, 35%);
          .border-radius(0 0 4px 4px);
        }
        .submenu {
          .context_menu_style();
          margin-left: 78px;
          margin-top: -8px;
          left: auto; right: auto;
          z-index: 100000;

          .icon-caret-up {
            margin-top: -15px;
            color: #111;
            left: 79%;
          }
        }
      }
    }
  }
  &.dashboard-project-list-mini {
    & .dashboard-project-list__inner {
      & > ul {
        & > li {
          margin: 0 10px 10px 0;
          padding: 7px;
          width: 100px;
          height: 100px ;
          &.add-new {
            text-align: center;
            line-height: 100px;
            font-size: 60px;

            span {
              color: lighten(#000, 35%);
              text-shadow: 0 -1px 1px lighten(#000, 10%),
                           0 1px 0px lighten(#000, 60%);
              float: left;
              margin: 0px 0 0 15px;
              &:hover {
                text-decoration: none;
              }
            }
          }
          .bottom-panel {
            margin: 5px -7px -7px -7px;
            padding: 2px 7px 0px;
            height: 22px;
          }
          .submenu {
            .context_menu_style();
            margin-left: 2px;
            margin-top: 8px;

            .icon-caret-up {
              margin-top: -15px;
            }
          }
        }
      }
    }
  }
}