<div class=" mb10">
    <div class="row-fluid">
        <div class="span8">
            <span class="fz12 grayLight">Content type filter:</span>
            <div class="btn-group ">
                <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">All</div>
                <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10"><i class="icon-facetime-video"></i> Video</div>
                <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10"><i class="icon-stage"></i> Stage</div>
                <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10"><i class="icon-folder-open"></i> Project</div>
            </div>
        </div>
    </div>
</div>