<div class="list_video-item">
    <div class="list_video-item__inner">
        <div class="row-fluid">
            <div class="span4 ">
                <div class="list_video-item-image mb15">
                    <span class="timer">12:05</span>
                    <a href="#"><img src="holder.js/180x100" alt=""></a>
                </div>
            </div>
            <div class="span8">
                <h3 class="fz15 mb5 mt0">

                    <a href="#" class="gray">Арестованы подозреваемые в похищении</a>
                    <a href="#" class="item-menu-toggle"  href="#item-popover-{{i}}"
                                                   data-toggle="modal"
                                                   data-target="#item-popover-{{i}}"
                                                   data-placement="bottom">

                        <span class="caret"></span>
                    </a>
                    <div class="popover bottom hide fade item-popover" id="item-popover-{{i}}">
                        <div class="arrow" style="margin-left: -5px"></div>
                        <div class="popover-content">
                            <ul class="no-bullet no-margin fz13">
                                <li><a href="#"><i class="icon-edit"></i> Edit description</a></li>
                                <li><a href="#"><i class="icon-remove"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </h3>

                <div class="pull-left mr10">
                    <img src="holder.js/48x48" class="avatar">
                </div>
                <div class="mb15">
                    <a href="/profile/" class="fz13 bold">alexander tobin</a>
                    <a href="/channel/" class="grayLight fz13 bold td-none mr10">
                        / <span class="sprites-icon-channel"></span> MrNuraT
                    </a>
                    <span class="sprites-icon-globe"></span>
                    <br>
                    <p class="pl60 fz12">
                        Российское правительство решило отправить гендиректора «Почты России» Александра Киселева в отставку. Об этом сообщает РИА
                    </p>
                </div>
            </div>
            <div class="span4">
                <div class="mb5 mt10">
                    <span class="grayLight fz12 mr10"><span class="sprites-icon-time"></span> 24 апреля, в 16:42</span>
                </div>

                <div class="mb5">
                    <a class="btn btn-noshadow grayLight">
                        <i class="sprites-icon-heart"></i> 12
                    </a>
                    <a class="btn btn-noshadow grayLight mr10 pl5 pr5">
                        <i class="sprites-icon-share"></i> Share <span class="normal">(56)</span>
                    </a>
                </div>

                <div class="mb0">
                    <a href="#" class="grayLight bold fz12 mr10">
                       <i class="sprites-icon-viewed"></i> 43
                    </a>
                    <span class="grayLight bold fz12">
                       22 comments
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>