// ФОРМЫ v1.0


input.border_box,
select.border_box,
textarea.border_box{
  .inBorder-box();
  width:100%;
}

// форма в линию и на васю щирену
@fhf-ml:150px;// по умолчанию 160px
@fhf-mr:80px;//  как нравится

.form-horizontal_full{
  input,
  textarea,
  select,
  .help-inline,
  .uneditable-input,
  .input-prepend,
  .input-append {
    display: inline-block;
    .ie7-inline-block();
    margin-bottom: 0;
  }
// Increase spacing between groups
  .control-group {
    margin-bottom: @baseLineHeight;
    .clearfix();
  }
// Float the labels left
  .control-label {
    float: left;
    width: @fhf-ml - 20px;
    padding-top: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
// Move over all input controls and content
  .controls {
  // Super jank IE7 fix to ensure the inputs in .input-append and input-prepend
  // don't inherit the margin of the parent, in this case .controls

    margin-left: @fhf-ml;
    margin-right: @fhf-mr;

    > input,
    > select,
    > textarea{
      width: 100%;
      margin:0 -1px 0 0 ; // баг в хоме не понел откуда
      .inBorder-box();
    }
  }
// Remove bottom margin on block level help text since that's accounted for on .control-group
  .help-block {
    margin-top: 0;
    margin-bottom: 0;
  }
// Move over buttons in .form-actions to align with .controls
  .form-actions {
    padding-left: 160px;
  }
}

.form-vertical_full{
  .controls {
    margin-left:0;
    margin-right:0;
    *padding-left:0;
    &:first-child {
      *padding-left: 0px;
    }
    > input,
    > select,
    > textarea{
      width: 100%;
      .inBorder-box();
    }
    .checkbox{
      padding-top: 0;
    }
    input[type="image"], input[type="checkbox"], input[type="radio"]{
      margin-top: 0;
      margin-bottom: 0;
    }

  }
  .control-label{
    float:none;
    display: block;
    margin-bottom: 5px;
    width:auto;
    padding-top:none;
    text-align:left;
  }
}

//input на всю щирину
input.w_rull{
  .box-sizing(border-box);
  height: 28px;
  width:100%;
}



//смена блочной модели для инпутов
@inputBorderWidth:1;
@inputPaddingRight: 4;
@inputPaddingLeftL: 4;
.inBorder-box(@inputPaddingLeftL: @inputPaddingLeftL,@inputPaddingRight:@inputPaddingRight,@inputBorderWidth:@inputBorderWidth,){
  @inputLage: -(@inputPaddingLeftL+@inputPaddingRight+@inputBorderWidth*2);
  *z-index: e("expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth @{inputLage} +'px')");
  .box-sizing(border-box);
  min-height: 38px;
  *min-height: 38px;
  min-height: 28px e("\9");

  /* хаки ждя ie8 */
  :root &{
    min-height: 38px;
  }
}
