{% extends '__base.html' %}
{% block content %}
    <h1 style="font-size: 144px; margin: 100px 0 0 0;">
        <div>404</div>
        <span class="fz14 normal">
            Page is not found. Please check url address or transfer to <a href="/">home page</a>
        </span>
    </h1>

{% endblock %}