{% extends '__base.html' %}

{% block container %}
<div class="video-substrate mb10">
    <div class="container">
        <div class="row">
            <div class="span16">
                <h2 class="grayLight mb0 fz20">Account settings</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span4">
            <div class="left-menu affix">
                <div class="left-menu__inner">
                    <ul>
                        <li>
                            <span class="item">
                                <span class="icon-cog"></span>
                                <span>Settings menu</span>
                            </span>
                            <ul>
                                <li class="{% if page == 'usersettings_account' %}active{% endif %}"><a href="#usersettings_account" class="ml5">User data</a></li>
                                <li class="{% if page == 'usersettings_email' %}active{% endif %}"><a href="#usersettings_email" class="ml5">E-mail</a></li>
                                <li class="{% if page == 'usersettings_password' %}active{% endif %}"><a href="#usersettings_password" class="ml5">Password</a></li>
                                <li class="{% if page == 'usersettings_social' %}active{% endif %}"><a href="#usersettings_social" class="ml5">Social account</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="span10">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}