<!DOCTYPE html>
<html>
<head>
    <title>главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--  откомпиленый LESS  -->
    <link rel="stylesheet" type="text/css" href="/static/css/frontend.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/player.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/sprite.css" media="screen">

    <link rel="stylesheet" type="text/css" href="/static/css/other.css" media="screen">

    <!--[if IE 7]><link.less rel="stylesheet" type="text/css" href="/static/css/ie_hack7.css" media="screen"><![endif]-->
    <!--[if IE 8]><link.less rel="stylesheet" type="text/css" href="/static/css/ie_hack8.css" media="screen"><![endif]-->
    <!--[if IE 9]><link.less rel="stylesheet" type="text/css" href="/static/css/ie_hack9.css" media="screen"><![endif]-->
</head>
<body {% block body_class %}class=""{% endblock %}>
    {% block body %}
    <div id="page-wrapper">
        <header>
            <div id="base-header">
                <div class="container">
                    {% include '__header.html' %}
                </div>
            </div>
        </header>

        {% block container %}
        <div class="container">
            <div class="row">
            {% block content %}

            {% endblock %}
            </div>
        </div>
        {% endblock %}

        <div id="page-buffer"></div>
    </div>
    <footer>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span3 fz12">
                        <img src="/static/img/logo-inverse.png" alt="Mind Stages"><br>
                        <span class="grayLight">© 2013</span>
                    </div>
                    <div class="span13">

                        <ul class="no-bullet no-margin fz14">
                            <li class="bold dib mr20"><a class="black" href="/discover/">Discover</a></li>
                            <li class="bold dib mr20"><a class="black" href="/my_stream/">My Stream</a></li>
                            <li class="bold dib mr20"><a class="black" href="/recorder/">Create</a></li>
                            <li class="bold dib mr20"><a class="black" href="/about/">About</a></li>
                        </ul>
                        <ul class="no-bullet no-margin fz12">
                            <li class="dib mr15"><a class="grayLight" href="#">Условия использования</a></li>
                            <li class="dib mr15"><a class="grayLight" href="#">Рекламодателям</a></li>
                            <li class="dib mr15"><a class="grayLight" href="#">Правообладателям</a></li>
                            <li class="dib mr15"><a class="grayLight" href="#">Администрация</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="http://yandex.st/jquery/1.8.3/jquery.min.js"></script-->
    <script>!window.jQuery && document.write('<script src="/static/lib/jquery-1.8.3.js"><\/script>');</script>
    <!-- script src="static/lib/modernizr/modernizr.js"></script -->
    <!-- script src="static/lib/js-webshim/dev/polyfiller.js"></script -->
    <script>
        //load and implement all unsupported features
        //$.webshims.polyfill();
    </script>

    <!-- Скрипты бутстрапа -->
    <script src="/static/js/bootstrap/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap/bootstrap-typeahead.js"></script>
    <script src="/static/js/bootstrap/bootstrap-affix.js"></script>

    <!-- Разные дополнительные либы -->
    <script src="/static/modules/masonry/jquery.masonry.min.js"></script>

    <!-- Прочее -->
    <script src="/static/lib/holder.js"></script>

    <!-- Собственные скрипты -->
    <script src="/static/js/project.js"></script>
</body>
</html>