<span class="navbar navbar-inverse">
    <a href="#" class="btn btn-navbar collapsed" id="menu-expand" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
</span>
<div class="logo">
    <a href="/">
        <img src="/static/img/logo.png" alt="MindStages">
    </a>
</div>
<div class="nav-collapse">
    <div class="menu">
        <div class="menu__inner">
            <ul>
                <li {% if page == 'index' %}class="active"{% endif %}><a href="/index/">Miorama</a></li><!-- не должно быть пробела
                --><li {% if page == 'my_stream' %}class="active"{% endif %}><a href="/my_stream/">My Stream</a></li><!-- не должно быть пробела
                --><li {% if page == 'recorder' %}class="active"{% endif %}><a href="/recorder/">Create</a></li><!-- не должно быть пробела
                --><li {% if page == 'about' %}class="active"{% endif %}><a href="/about/">About</a></li>
            </ul>
        </div>
    </div>
    <div class="search-bar">
        <div class="search-bar__inner">
            <form class="form-search">
                <span class="sprites-icon-search prefix"></span>
                <input type="search" class="search-field" placeholder="Site search...">
                <button type="submit" class="btn btn-search">Искать</button>
            </form>
        </div>
    </div>
    <div class="events">
        <div class="events__inner">

            <div class="popover-box">
                <div id="noticeModal" class="popover bottom hide fade " style="display: none;">
                    <button type="button" class="close mr10" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="arrow"></div>
                    <div class="popover-content margin-left-30 margin-right-10">

                        <table class="table  margin-bottom-0 ">
                            <thead>
                            <tr>
                                <td>
                                    <i class="remove ">x</i>
                                    <h4 class="grayLight ">Системы оплаты для пользователя</h4>
                                    <small class=" fz11 grayLight">12 апреля 2013, 14:47</small>
                                    <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов </p>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td class="disabled">
                                    <i class="remove ">x</i>
                                    <h4 class="grayLight ">Второе уведомление о чём-то</h4>
                                    <small class="fz11 grayLight">12 апреля 2013, 14:47</small>
                                    <a><img src="holder.js/48x48" class="pull-left mr10"></a>
                                    <p>Нажав на кнопку «Написать реферат» вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку</p>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="end"><a href="#">Все уведомления</a></div>
                                </td>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
            <span class="new-events">12</span>
            <a href="#noticeModal"
               data-toggle="modal"
               data-target="#noticeModal"
               class="event-link">
                <span class="sprites-icon-events"></span>
               </a>
        </div>
    </div>
    <div class="userblock">
        <div class="userblock__inner">
            <div class="popover bottom" id="userblock-popover">
                <div class="arrow" style="margin-left: -75px"></div>
                <div class="popover-content">
                    <ul class="popover-menu">
                        <li><a href="/usersettings/">User settings</a></li>
                        <!-- li><a href="/usersettings_account/">User settings</a></li>
                        <li><a href="/usersettings_email/">Change e-mail</a></li>
                        <li><a href="/usersettings_password/">Change password</a></li>
                        <li><a href="/usersettings_social/">Social accounts</a></li -->
                        <li><a href="#" class="red"><i class="icon-external-link"></i> Exit</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="white">
                <span>
                    <img src="holder.js/33x33/text:User/#eee:#ccc/9" class="avatar">
                </span>
                Semyachkin Vitaly
                <i class="caret"></i>
            </a>
        </div>
    </div>
</div>