{% extends '__base.html' %}

{% block content %}
<div class="mt20">
    <div class="span4">
        <div class="left-menu">
            <div class="left-menu__inner">

                <ul>
                    <li>
                        <span class="item"><span>Каналы</span></span>
                        <ul>
                            <li><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> kvn</a> <span class="counter">23</span></li>
                            <li><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> Dmitry Puchkov</a> <span class="counter">3</span></li>
                            <li class="active"><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> ThisIsHorosho</a> <span class="counter">21</span></li>
                            <li><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> YouTubeShowsRU</a> <span class="counter">19</span></li>
                            <li><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> Gaming</a> <span class="counter">16</span></li>
                            <li><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> Popular on YouTube - Russia</a> <span class="counter">43</span></li>
                            <li><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> Dota</a> <span class="counter">2</span></li>
                            <li><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> Спорт</a> <span class="counter">3</span></li>
                            <li><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> Music</a> <span class="counter">2</span></li>
                            <li><a href="#"><span class="user-menu-avatar"><img src="holder.js/18x18"></span> World of Tanks</a> <span class="counter">3</span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="item"><span>Пользователи</span></span>
                        <ul class="user-list">
                            <li>
                                <a href="#">
                                    <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                    smosh
                                </a>
                                <span class="counter">12</span>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                    7902edinho
                                </a>
                                <span class="counter">12</span>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                    Journeyman Pictures
                                </a>
                                <span class="counter">12</span>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                    James Mitchell
                                </a>
                                <span class="counter">12</span>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                    Arr1V
                                </a>
                                <span class="counter">12</span>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="span12">
        <div class=" mb10">
            <div class="row-fluid">
                <div class="span8">
                    <span class="fz12 grayLight">Content type filter:</span>
                    <div class="btn-group ">
                        <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">All</div>
                        <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10"><i class="icon-facetime-video"></i> Video</div>
                        <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10"><i class="icon-stage"></i> Stage</div>
                        <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10"><i class="icon-folder-open"></i> Project</div>
                    </div>
                </div>
            </div>
        </div>
        {% for i in range(10) %}
        <div class="list_video-item">
            <div class="list_video-item__inner">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="list_video-item-image">
                            <span class="timer">12:05</span>
                            <a href="#"><img src="holder.js/180x100" alt=""></a>
                        </div>
                    </div>
                    <div class="span8">
                        <h3 class="fz15 mb5">
                            <a href="#" class="gray">Арестованы подозреваемые в похищении</a>
                        </h3>

                        <div class="pull-left mr10">
                            <img src="holder.js/48x48" class="avatar">
                        </div>
                        <div class="mb15">
                            <a href="#" class="fz13 bold">alexander tobin</a>
                            <a href="#" class="grayLight fz13 bold td-none mr10">
                                / <span class="sprites-icon-channel"></span> MrNuraT
                            </a>
                            <span class="sprites-icon-globe"></span>
                            <br>
                            <p class="pl60 fz12">
                                Российское правительство решило отправить гендиректора «Почты России» Александра Киселева в отставку. Об этом сообщает РИА
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="mb5 mt10">
                            <span class="grayLight fz12 mr10"><span class="sprites-icon-time"></span> 24 апреля, в 16:42</span>
                        </div>

                        <div class="mb5">
                            <a class="btn btn-noshadow grayLight">
                                <i class="sprites-icon-heart"></i> 12
                            </a>
                            <a class="btn btn-noshadow grayLight mr10 pl5 pr5">
                                <i class="sprites-icon-share"></i> Share <span class="normal">(56)</span>
                            </a>
                        </div>

                        <div class="mb0">
                            <a href="#" class="grayLight bold fz12 mr10">
                               <i class="sprites-icon-viewed"></i> 43
                            </a>
                            <span class="grayLight bold fz12">
                               22 comments
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="ajax-loader"></div>

    </div>
</div>
{% endblock %}