<div class="player tac">
    <div class="player-controls">
        <div class="control-block">
            <div class="column tal">
                <div class="appear-on-stage">
                    <a href="#">
                        <i class="player-icon-appear-on-stage"></i> Appear on stage
                    </a>
                </div>
            </div>
            <div class="column">&nbsp;</div>
        </div>
        <div class="stage-informer">
            <div class="stage-informer__inner">
                <i class="icon-stage mr5"></i> «Левада-центра»
            </div>
        </div>
        <div class="video-content" style="height: 450px; width: 100%; background: gray;"></div>
    </div>
</div>