<div class="player tac">
    <div class="player-controls">
        <div class="control-block">
            <div class="column">
                <div class="play-pause">
                    <a href="#" class="player-icon-play"></a>
                </div>
            </div>
            <div class="column w100">
                <div class="progress-bar">
                    <a href="#" class="cursor" style="left: 35%;"></a>
                    <div class="progress">
                        <span class="progress-active" style="width: 35%;">
                        </span>
                    </div>
                </div>
                <div class="" id="progress-alert">Rewind is under construction</div>
            </div>
            <div class="column">
                <div class="timer">
                    0:29  <span class="all">/ 02:42</span>
                </div>
            </div>
            <div class="column">
                <div id="player-speed-control" style="display: none;">
                    <a href="#" class="cursor" style="bottom: 35%;"></a>
                    <div class="speed-status">
                        <a href="#">x8</a>
                        <a href="#">x4</a>
                    </div>
                </div>
                <a href="#" class="speed">
                    x 2
                </a>
            </div>
            <div class="column">
                <div class="controls">
                    <a href="#" class="player-icon-camera"></a>
                    <a href="#" class="player-icon-volume-normal" id="player-volume-button">

                        <div id="player-volume-control" style="display: none;">
                            <span href="#" class="cursor" style="bottom: 35%;"></span>
                            <div class="status">
                                <span class="status-active" style="height: 35%;">
                                </span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="player-icon-fullscreen"></a>
                </div>
            </div>
        </div>
        <div class="stage-informer">
            <div class="stage-informer__inner">
                <i class="icon-stage mr5"></i> «Левада-центра»
            </div>
        </div>
        <div class="video-content" style="height: 450px; width: 100%; background: gray;"></div>
    </div>
</div>