<!DOCTYPE html>
<html>
<head>
    <title>Create movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--  откомпиленый LESS  -->
    <link rel="stylesheet" type="text/css" href="/static/css/player.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/recorder.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/modules/jscrollpane/jquery.jscrollpane.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/sprite.css" media="screen">
</head>
<body>
    <div id="rec-wrapper">
        <div id="rec-header">
            <div id="base-header">
                <div class="left-column">
                    <a href="#" class="btn btn-menu mt5 ml15">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </a>

                    <a href="#" class="project-url">
                        Project Title
                    </a>

                </div>
                <div class="center-column">
                    <div class="center-column__inner">
                        {% include '__header.html' %}
                    </div>
                </div>
                <div class="right-column"></div>
            </div>
        </div>
        {% block container %}
        {% endblock %}
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="http://yandex.st/jquery/1.8.3/jquery.min.js"></script-->
    <script>!window.jQuery && document.write('<script src="/static/lib/jquery-1.8.3.js"><\/script>');</script>

    <!-- Скрипты бутстрапа -->
    <script src="/static/js/bootstrap/bootstrap-transition.js"></script>

    <!-- Разные библиотеки -->
    <script src="/static/modules/jscrollpane/jquery.jscrollpane.js"></script>
    <script src="/static/lib/jqueryui/js/jquery-ui-1.10.3.custom.min.js"></script>

    <!-- Вырубить на продакшене -->
    <script src="/static/lib/holder.js"></script>

    <!-- Собственные скрипты -->
    <script src="/static/js/recorder-get_height.js"></script>
    <script src="/static/js/recorder-position.js"></script>
    <script src="/static/js/recorder-accordion.js"></script>
    <script src="/static/js/recorder-ui.js"></script>
    <script src="/static/js/project.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>