{% extends '__base.html' %}

{% block container %}
<div class="video-substrate mb10">
    <div class="container">
        <div class="row">
            <div class="span16">
                <h2 class="grayLight mb0 fz20">About</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span4">
            <div class="left-menu">
                <div class="left-menu__inner">
                    <ul>
                        <li>
                            <span class="item"><span>About</span></span>
                            <ul>
                                <li><a href="#">О MindStage</a></li>
                                <li class="active"><a href="#">Начало работы</a></li>
                                <li><a href="#">Принципы сообщества</a></li>
                                <li><a href="#">Правила использования бренда</a></li>
                                <li><a href="#">Свяжитесь с нами</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="span12">
            <h1>Что такое MindStage</h1>

            <p>
                VIP-мероприятие искажает рейтинг, учитывая современные тенденции. Еще Траут показал, что медиамикс ригиден. Эластичность спроса нейтрализует институциональный продуктовый ассортимент, признавая определенные рыночные тенденции. Медиабизнес традиционно концентрирует системный анализ, оптимизируя бюджеты. VIP-мероприятие усиливает рейтинг, расширяя долю рынка.
            </p>
            <p>
                Можно предположить, что направленный маркетинг обычно правомочен. Принцип восприятия транслирует рыночный диктат потребителя, осознав маркетинг как часть производства. Представляется логичным, что выставка требовальна к креативу. Не факт, что системный анализ оправдывает мониторинг активности, оптимизируя бюджеты. Рекламное сообщество искажает пул лояльных изданий, не считаясь с затратами.
            </p>

            <div class="row-fluid">
                <div class="span8">
                    <div class="panel">
                    <a href="#">
                        <div class="left">
                            <img src="holder.js/60x60">
                        </div>
                        <div class="pl80">
                            <h3 class="fz24 normal grayLight">Начало работы</h3>
                            <p class="fz12 grayLight">
                                Поэтапное руководство по работе<br>с сервисом
                            </p>
                        </div>
                    </a>
                    </div>
                </div>
                <div class="span8">
                    <div class="panel">
                    <a href="#">
                        <div class="left">
                            <img src="holder.js/60x60">
                        </div>
                        <div class="pl80">
                            <h3 class="fz24 normal grayLight">Принципы</h3>
                            <p class="fz12 grayLight">
                                Узнайте, каких правил должны придерживаться наши пользователи.
                            </p>
                        </div>
                    </a>
                    </div>
                </div>
            </div>

            <hr />
            <h2>Зачем это нужно?</h2>
            <p>
                Можно предположить, что направленный маркетинг обычно правомочен. Принцип восприятия транслирует рыночный диктат потребителя, осознав маркетинг как часть производства. Представляется логичным, что выставка требовальна к креативу. Не факт, что системный анализ оправдывает мониторинг активности, оптимизируя бюджеты. Рекламное сообщество искажает пул лояльных изданий, не считаясь с затратами.
            </p>
        </div>
    </div>
</div>
{% endblock %}