{% extends '__base.html' %}

{% block container %}
<div class="profile-substrate" style="background: #2D8C94 url('/static/img/userplate-pattern-2.png')">
    <div class="container">
        <div class="row">
            <div class="span2">
                <div class="base-header-avatar">
                    <img src="holder.js/130x130" alt="">
                </div>
            </div>
            <div class="span13">

                <div class="modal hide fade" id="channel-popover" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Settings channel "First Education Channel"</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                          <div class="control-group">
                            <label class="control-label" for="inputEmail">Title</label>
                            <div class="controls">
                              <input type="text" id="inputEmail" placeholder="Email">
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="inputLogo">Channel logo</label>
                            <div class="controls">
                              <input type="file" id="inputLogo">
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="inputBackground">Channel background:</label>
                            <div class="controls">
                              <input type="file" id="inputBackground">
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="inputDescription">Description</label>
                            <div class="controls">
                              <textarea rows="4" id="inputDescription"></textarea>
                            </div>
                          </div>
                          <div class="control-group">
                            <div class="controls">
                              <button type="submit" class="btn">Save changes</button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>


                <div class="right settings-plate">
                    <a class="icon-cog fz16 white td-none" href="#channel-popover" data-toggle="modal">
                        <span class="fz12 normal">Channel settings</span>
                    </a>
                </div>

                <h3 class="mt0 mb0">
                    <a class="white mr10" href="#">First Education Channel</a>

                    <i class="icon-globe white opacity70 mr10" title="Доступно для всех"></i>
                </h3>
                <p class="white fz12">
                    Телеканал Просвещение - это один из самых нужных обществу телеканалов. Важно, чтобы он стал популярным и интересным, а задача профессионального сообщества помочь этому телеканалу встать на ноги. Уже многое сделано, но предстоит еще большее, ведь просвещение - это основа жизни.
                </p>

                <div class="subscriber-plate">
                    <a class="no-border" href="/subscribers/"><i class="icon-rss"></i> 12 подписчиков</a>
                </div>

                <div class="btn-group subscribe">
                    <button class="btn lefted btn-mini"><i class="sprites-icon-plus-white"></i></button>
                    <button class="btn btn-mini">Subscribe</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="mt20">
            <div class="span4">
                <div class="left-menu">
                    <div class="left-menu__inner">
                        <ul>
                            <li>
                                <span class="item">
                                    <span class="sprites-icon-user-micro"></span>
                                    <span>Members</span></span>
                                <ul>
                                    <li><a href="/channel/">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        Vitaly</a></li>
                                    <li><a href="/channel/">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        Tonatos</a></li>
                                    <li><a href="/channel/">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        Vladimir Socolovich</a></li>
                                    <li><a href="/channel/">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        Teleshnikov</a></li>
                                    <li><a href="/channel/">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        Mr.Freeman</a></li>

                                    <li class="mt5">And <a href="#" class="dib">25 other</a></li>

                                    <li class="mt5">
                                        <a href="/create_post/" class="btn btn-noshadow btn-add-item bold dib" data-title="Create text post to this channel">
                                            <i class="icon-edit"></i> Create post
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="span12">
                <div class=" mb10">
                    <div class="row-fluid">
                        <div class="span8">
                            <span class="fz12 grayLight">Content type filter:</span>
                            <div class="btn-group ">
                                <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">All</div>
                                <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10"><i class="icon-facetime-video"></i> Video</div>
                                <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10"><i class="icon-stage"></i> Stages</div>
                                <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10"><i class="icon-folder-open"></i> Project</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for i in range(10) %}
                    <div class="list_video-item">
                        <div class="list_video-item__inner">
                            <div class="pull-left mr10">
                                <img src="holder.js/48x48" class="avatar">
                            </div>
                            <div class="mb15">
                                <h3 class="fz15 mb0 mt0">
                                    <a href="#" class="gray">Арестованы подозреваемые в похищении</a>
                                </h3>
                                <a href="/profile/" class="fz13 bold">alexander tobin</a>
                                <a href="/channel/" class="grayLight fz13 bold td-none mr10">
                                    / <span class="sprites-icon-channel"></span> MrNuraT
                                </a>
                                <span class="sprites-icon-globe"></span>
                                <br>
                                <p class="pl60 fz12">
                                    Российское правительство решило отправить гендиректора «Почты России» Александра Киселева в отставку. Об этом сообщает РИА
                                </p>
                            </div>

                        </div>
                    </div>
                    {% include "blocks/__movie.html" %}
                {% endfor %}
                <div class="ajax-loader"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}