{% extends '__base.html' %}

{% block container %}
<div class="video-substrate mb10">
    <div class="container">
        <div class="row">
            <div class="span8 offset4">
                <h2 class="grayLight mb0 fz20">You events</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span4">
            <!-- div class="left-menu">
                <div class="left-menu__inner">
                    <ul>
                        <li>
                            <span class="item"><span>Events</span></span>
                            <ul>
                                <li class="active"><a href="#">All</a></li>
                                <li><a href="#">New movie</a></li>
                                <li><a href="#">Create channel</a></li>
                                <li><a href="#">Add friends</a></li>
                                <li><a href="#">Change profile</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div -->
        </div>
        <div class="span8">

            <div class="events">
                <div class="events__inner">
                    <table class="table  margin-bottom-0 ">
                        <thead>
                        {% for i in range(10) %}
                        <tr>
                            <td>
                                <h4 class="grayLight ">New movie</h4>
                                <small class=" fz11 grayLight">12 апреля 2013, 14:47</small>
                                <a><img src="http://ms.66bit.ru/web/img/avatar/23.jpg" style="width: 50px;" class="pull-left mr10 mb10"></a>
                                <p>
                                    Пользователь <a href="#"><i class="sprites-icon-user-micro"></i> <span>Denis Danilov</span></a> добавил ролик <a href="#">Тест перехода на новую сцену</a> в канал <a href="#"><i class="sprites-icon-channel"></i> Denis Danilov's channel</a>
                                </p>
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td class="disabled">
                                <h4 class="grayLight ">Второе уведомление о чём-то</h4>
                                <small class="fz11 grayLight">12 апреля 2013, 14:47</small>
                                <p>Нажав на кнопку «Написать реферат» вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку</p>
                                <hr>
                            </td>
                        </tr>
                        {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>

            <div class="ajax-loader"></div>

        </div>
    </div>
</div>
{% endblock %}