{% extends '__base.html' %}

{% block body_class %}class="discover"{% endblock %}
{% block container %}
<div class="video-substrate mb10">
    <div class="container">
        <div class="row">
            <div class="span8">
                <span class="fz12 grayLight">Content type:</span>
                <div class="btn-group ">
                    <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">All</div>
                    <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">Video</div>
                    <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">Stage</div>
                    <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">Objects</div>
                </div>
            </div>
            <div class="span8 tar">
                <span class="fz12 grayLight">Sort by:</span>
                <div class="btn-group">
                    <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">New</div>
                    <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">Liked</div>
                    <div class="btn btn-noshadow fz12 grayLight pt5 pb5 pr10 pl10">Viewed</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span16">
            <div id="masonry-container" class="mb20">
                <div class="discover-item big">
                    <div class="discover-item__inner">
                        <a href="#">
                            <div class="img">
                                <span class="timer">12:05</span>
                                <img src="/static/img/main-movie.png" width="700" height="393" alt="">
                            </div>
                            <strong class="gray">Что такое Miorama</strong>
                        </a>
                        <div class="head">
                            <div class="pull-left mr10">
                                <img src="holder.js/48x48" class="avatar">
                            </div>
                            <div class="mb15">
                                <a href="/profile/" class="fz13 bold">Denis Danilov</a>
                                <a href="/channel/" class="grayLight fz13 bold td-none mr10">
                                    / <span class="sprites-icon-channel"></span> Denis Danilov
                                </a>
                                <span class="sprites-icon-globe"></span>
                                <br>
                                <p class="pl60 fz12">
                                    Российское правительство решило отправить гендиректора «Почты России» Александра Киселева в отставку. Об этом сообщает РИА
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% for i in range(3) %}
                <div class="discover-item">
                    <div class="discover-item__inner">
                        <a href="#">
                            <div class="img">
                                <span class="timer">12:05</span>
                                <img src="holder.js/250x150" alt="">
                            </div>
                            <strong class="gray">Сцена о похищении</strong>
                        </a>
                        <hr class="mb5 mt5">
                        <div class="head">
                            <span class="sprites-icon-user-micro"></span>
                            <a href="/profile/" class="fz13 bold mr5">alexander tobin</a>
                            <a href="/channel/" class="grayLight fz13 bold td-none mr10">
                                / <span class="sprites-icon-channel"></span> MrNuraT
                            </a>
                        </div>
                    </div>
                </div>
                <div class="discover-item">
                    <div class="discover-item__inner">
                        <a href="#">
                            <div class="img">
                                <span class="timer">12:05</span>
                                <img src="holder.js/250x150" alt="">
                            </div>
                            <strong class="gray">Сцена о похищении</strong>
                        </a>
                        <hr class="mb5 mt5">
                        <div class="head">
                            <span class="sprites-icon-user-micro"></span>
                            <a href="/profile/" class="fz13 bold mr5">alexander tobin</a>
                            <a href="/channel/" class="grayLight fz13 bold td-none mr10">
                                / <span class="sprites-icon-channel"></span> MrNuraT
                            </a>
                        </div>
                    </div>
                </div>
                <div class="discover-item">
                    <div class="discover-item__inner">
                        <a href="#">
                            <div class="img">
                                <span class="timer">12:05</span>
                                <img src="holder.js/250x250" alt="">
                            </div>
                            <strong class="gray">Сцена о похищении</strong>
                        </a>
                        <hr class="mb5 mt5">
                        <div class="head">
                            <span class="sprites-icon-user-micro"></span>
                            <a href="/profile/" class="fz13 bold mr5">alexander tobin</a>
                            <a href="/channel/" class="grayLight fz13 bold td-none mr10">
                                / <span class="sprites-icon-channel"></span> MrNuraT
                            </a>
                        </div>
                    </div>
                </div>
                <div class="discover-item">
                    <div class="discover-item__inner">
                        <a href="#">
                            <div class="img">
                                <span class="timer">12:05</span>
                                <img src="holder.js/250x150" alt="">
                            </div>
                            <strong class="gray">Сцена о похищении</strong>
                        </a>
                        <hr class="mb5 mt5">
                        <div class="head">
                            <span class="sprites-icon-user-micro"></span>
                            <a href="/profile/" class="fz13 bold mr5">alexander tobin</a>
                            <a href="/channel/" class="grayLight fz13 bold td-none mr10">
                                / <span class="sprites-icon-channel"></span> MrNuraT
                            </a>
                        </div>
                    </div>
                </div>
                <div class="discover-item">
                    <div class="discover-item__inner">
                        <a href="#">
                            <div class="img">
                                <span class="timer">12:05</span>
                                <img src="holder.js/250x250" alt="">
                            </div>
                            <strong class="gray">Сцена о похищении</strong>
                        </a>
                        <hr class="mb5 mt5">
                        <div class="head">
                            <span class="sprites-icon-user-micro"></span>
                            <a href="/profile/" class="fz13 bold mr5">alexander tobin</a>
                            <a href="/channel/" class="grayLight fz13 bold td-none mr10">
                                / <span class="sprites-icon-channel"></span> MrNuraT
                            </a>
                        </div>
                    </div>
                </div>
                <div class="discover-item">
                    <div class="discover-item__inner">
                        <a href="#">
                            <div class="img">
                                <span class="timer">12:05</span>
                                <img src="holder.js/250x150" alt="">
                            </div>
                            <strong class="gray">Сцена о похищении</strong>
                        </a>
                        <hr class="mb5 mt5">
                        <div class="head">
                            <span class="sprites-icon-user-micro"></span>
                            <a href="/profile/" class="fz13 bold mr5">alexander tobin</a>
                            <a href="/channel/" class="grayLight fz13 bold td-none mr10">
                                / <span class="sprites-icon-channel"></span> MrNuraT
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <br class="clear clearfix">
            </div>

            <div class="ajax-loader mr100 ml100"></div>
        </div>
    </div>
</div>
{% endblock %}