{% extends '__base.html' %}

{% block body_class %}class="login-bg"{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container">
            <div class="row">

                <div class="span10 offset3 mt100">

                    <div class="logo mb30">
                        <img src="/static/img/white-logo.png" >
                    </div>

                    <div class="form-plate">
                        <div class="form-horizontal_full">
                            <form action="#" class="ml60">
                                <div class="control-group">
                                    <label for="#"></label>
                                    <div class="controls">
                                        <span class="right mt5">
                                            <a class="td-box-norm" href="#">
                                                <img src="/static/img/icon-signup-blue.png">
                                                <span>Sign Up</span>
                                            </a>
                                        </span>
                                        <h2 class="fz30 black">Login</h2>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="#" class="control-label">Login</label>
                                    <div class="controls">
                                        <input type="text">
                                        <div class="fz12 grayLight">
                                            Your login or email
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="#" class="control-label">Password</label>
                                    <div class="controls">
                                        <a href="#" class="icon-eye-open show-pass"></a>
                                        <input type="password" placeholder="●●●●●" id="password-input">
                                        <div class="mt5">
                                            <label for="#" class="left">
                                                <input type="checkbox" class=""> Remember me
                                            </label>
                                            <a class="right" href="#">Lost password? Remind!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn btn fz18 pt10 pb10 pl30 pr30 mr10">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="social-login-block">
                                <div class="pl40">
                                    <p class="mb5"><label class="gray fz13 bold">Войти через социальные сети</label></p>
                                    <span class="">
                                        <a href="#" class="zocial facebook social-color-fb"></a>
                                        <a href="#" class="zocial googleplus social-color-google"></a>
                                        <a href="#" class="zocial twitter social-color-twitter"></a>
                                        <a href="#" class="zocial vk social-color-vk"></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div id="page-buffer"></div>
    </div>
    <footer>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span3 fz12 offset2">
                        <img src="/static/img/white-bottom-logo.png" alt="Mind Stages"><br>
                        <span class="grayLight">© 2013</span>
                    </div>
                    <div class="span11">

                        <ul class="no-bullet no-margin fz14">
                            <li class="bold dib mr20"><a class="black" href="/discover/">Discover</a></li>
                            <li class="bold dib mr20"><a class="black" href="/my_stream/">My Stream</a></li>
                            <li class="bold dib mr20"><a class="black" href="/recorder/">Create</a></li>
                            <li class="bold dib mr20"><a class="black" href="/about/">About</a></li>
                        </ul>
                        <ul class="no-bullet no-margin fz12">
                            <li class="dib mr15"><a class="grayLight" href="#">Условия использования</a></li>
                            <li class="dib mr15"><a class="grayLight" href="#">Рекламодателям</a></li>
                            <li class="dib mr15"><a class="grayLight" href="#">Правообладателям</a></li>
                            <li class="dib mr15"><a class="grayLight" href="#">Администрация</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}