{% extends '__base.html' %}

{% block container %}
<div class="profile-substrate" style="background: #C72000 url('/static/img/userplate-pattern-1.png')">
    <div class="container">
        <div class="row">
            <div class="span2">
                <div class="base-header-avatar">
                    <img src="holder.js/130x130" alt="">
                </div>
            </div>
            <div class="span13">
                <h3 class="mt0">
                    <a class="white" href="#">Semyachkin Vitaly</a><br>
                    <small class="bold white">Дизайнер</small>
                </h3>
                <p class="white fz12">
                    Все об играх и не только.
                    За оскорбительные высказывания в адрес авторов или видеороликов, выложенных на канале - перманентный блок. Давайте будем взаимновежливы!
                    По всем вопросам и предложениям, а также если вы хотите стать нашим автором.
                </p>

                <div class="subscriber-plate mr10">
                    <a href="/subscribers/"><i class="icon-rss"></i> 12 subscribers</a>
                    <a href="/subscribtions/"><i class="icon-share"></i> 3 Subscribtions</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="mt20">
            <div class="span4">
                <div class="left-menu">
                    <div class="left-menu__inner">
                        <ul>
                            <li>
                                <span class="item">
                                    <span class="sprites-icon-channel"></span>
                                    <a href="#">Channels</a></span>
                                <ul>
                                    <li><a href="/channel/">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        My Channel</a> <span class="counter">23</span></li>
                                    <li><a href="/channel/">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        Love pets</a> <span class="counter">23</span></li>
                                    <li><a href="/channel/">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        American car</a> <span class="counter">23</span></li>
                                    <li class="mt5">
                                        <a href="/channel/" class="btn btn-noshadow btn-add-item bold dib" data-title="Create new channel">
                                            <i class="icon-plus"></i> Create channel
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="item">
                                    <span class="sprites-icon-star"></span>
                                    <a href="#">Favorite</a></span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="span12">
                {% include "blocks/__content-filter.html" %}
                {% for i in range(10) %}
                    {% include "blocks/__movie.html" %}
                {% endfor %}
                <div class="ajax-loader"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}