{% extends '__base.html' %}

{% block container %}
<div class="profile-substrate" style="background: #333 url('/static/img/userplate-pattern-1.png')">
    <div class="container">
        <div class="row">
            <div class="span2">
                <div class="base-header-avatar">
                    <img src="holder.js/130x130" alt="">
                </div>
            </div>
            <div class="span13">
                <h3 class="mt0">
                    <a class="white" href="#">Semyachkin Vitaly</a><br>
                    <small class="bold white">Дизайнер</small>
                </h3>
                <p class="white fz12">
                    Профессионально хожу по тонкому льду
                </p>



                <div class="subscriber-plate mr10">
                    <a href="#"><i class="icon-rss"></i> 12 subscribers</a>
                    <a href="#"><i class="icon-share"></i> 3 Subscribtions</a>
                </div>
                <div class="btn-group subscribe">
                    <button class="btn lefted btn-mini"><i class="sprites-icon-plus-white"></i></button>
                    <button class="btn btn-mini">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="mt20">
            <div class="span4">
                <div class="left-menu">
                    <div class="left-menu__inner">
                        <ul>
                            <li>
                                <span class="item"><a href="#"><i class="sprites-icon-channel"></i> Channels</a></span>
                                <ul>
                                    <li><a href="#">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        My Channel</a> <span class="counter">23</span></li>
                                    <li><a href="#">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        Love pets</a> <span class="counter">23</span></li>
                                    <li><a href="#">
                                        <span class="user-menu-avatar"><img src="holder.js/18x18"></span>
                                        American car</a> <span class="counter">23</span></li>
                                </ul>
                            </li>
                            <!-- li><span class="item"><a href="#"><i class="icon-stage"></i> Stages</a></span></li>
                            <li><span class="item"><a href="#"><i class="icon-rss"></i> Subscribes</a> <span class="counter">12</span></span></li>
                            <li><span class="item"><a href="#"><i class="icon-share"></i> Subscribtion</a> <span class="counter">32</span></span></li-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span12">
                {% include "blocks/__content-filter.html" %}
                {% for i in range(10) %}
                    {% include "blocks/__movie.html" %}
                {% endfor %}

                <div class="ajax-loader"></div>

            </div>
        </div>
    </div>
</div>
{% endblock %}