{% extends '__recorder.html' %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="span16">


                <h2 class="grayLight mb0">Projects</h2>

                <div class="dashboard-project-list">
                    <div class="dashboard-project-list__inner">

                        <ul>
                            <li class="add-new">
                                <div>
                                    <span class="icon-plus"></span>
                                </div>
                            </li>
                            {% for i in range(5) %}
                            <li>
                                <img src="holder.js/230x180">
                                <div class="bottom-panel">
                                    <a class="icon-cog td-none fz16 right grayLight submenu-open"></a>

                                    <h5 class="fz13 mb0 mt0">Test project</h5>
                                    <span class="normal fz11">
                                        Last active: 1 week ago
                                    </span>

                                    <div class="submenu" style="display: none;">
                                        <span class="icon-caret-up"></span>
                                        <ul>
                                            <li><a href="#"><i class="icon grayLight icon-edit fz16"></i> Rename</a></li>
                                            <li><a href="#"><i class="icon grayLight icon-level-down fz16"></i> Export Project</a></li>
                                            <li><a href="#"><i class="icon grayLight icon-remove-sign fz16"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>



            </div>
        </div>
    </div>
    <footer>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span2 fz12">
                        <h3 class="gray m0">MindStage</h3>
                        <span class="gray">© 2013</span>
                    </div>
                    <div class="span10 mt15">
                        <ul class="no-bullet no-margin fz14">
                            <li class="bold dib mr20"><a class="gray" href="/discover/">Discover</a></li>
                            <li class="bold dib mr20"><a class="gray" href="/my_stream/">My Stream</a></li>
                            <li class="bold dib mr20"><a class="gray" href="/recorder/">Create</a></li>
                            <li class="bold dib mr20"><a class="gray" href="/about/">About</a></li>
                        </ul>
                        <ul class="no-bullet no-margin fz12">
                            <li class="dib mr15"><a class="gray" href="#">Условия использования</a></li>
                            <li class="dib mr15"><a class="gray" href="#">Рекламодателям</a></li>
                            <li class="dib mr15"><a class="gray" href="#">Правообладателям</a></li>
                            <li class="dib mr15"><a class="gray" href="#">Администрация</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}