{% extends '__recorder.html' %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $( "#dialog" ).dialog({
              dialogClass: "no-close",
              width: 600,
              buttons: [
                {
                  text: "OK",
                  click: function() {
                    $( this ).dialog( "close" );
                  }
                }
              ]
            });
        });
    </script>
{% endblock %}
{% block container %}
    <div id="rec-body">
        <div id="rec-left-column">
            <div class="stage-video-block">
                <div class="stage-video-block__inner">
                    <a href="#" class="btn btn-stage">
                        <img src="/static/img/recorder/stage_indicator-active.png" alt="">
                        Leave stage
                    </a>
                    <span class="widget-item">
                        <a><img src="/static/img/recorder/widget-placeholder.png"><span>Placeholder</span></a>
                    </span>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-group active">
                    <div class="accordion-title">

                        <div class="column-block-title">
                            <div class="column-block-title__inner">
                                <span>Widgets</span>
                                <a href="#" class="btn btn-recorder pull-right mt5">
                                    Add widget
                                    &nbsp;<i class="rec_sprite-icon-plus-mini"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="accordion-body">

                        <div class="widgets-list">
                            <div class="widgets-list__inner">
                                <ul>
                                    <li><a><img src="/static/img/recorder/widget-text.png"><span>Text</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-heading.png"><span>Heading</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-draw.png"><span>Draw</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-image.png"><span>Picture</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-slideshow.png"><span>Slideshow</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-twitter.png"><span>Twitter</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-map.png"><span>Map</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-web.png"><span>Web page</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-label.png"><span>Label</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-3d.png"><span>3d object</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-promter.png"><span>Promter</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-mindmap.png"><span>Mindmap</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-youtube.png"><span>YouTube</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-smartgraph.png"><span>SmartGraph</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-timeline.png"><span>TimeLine</span></a></li>



                                    <li><a><img src="/static/img/recorder/widget-map.png"><span>Map</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-web.png"><span>Web page</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-label.png"><span>Label</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-3d.png"><span>3d object</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-promter.png"><span>Promter</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-mindmap.png"><span>Mindmap</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-youtube.png"><span>YouTube</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-smartgraph.png"><span>SmartGraph</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-timeline.png"><span>TimeLine</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-title">

                        <div class="column-block-title">
                            <div class="column-block-title__inner">
                                <span>Objects</span>
                                <a href="#" class="btn btn-recorder pull-right mt5">
                                    Add object
                                    &nbsp;<i class="rec_sprite-icon-plus-mini"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="accordion-body">

                        <div class="widgets-list">
                            <div class="widgets-list__inner">
                                <ul>
                                    <li><a><img src="/static/img/recorder/widget-text.png"><span>Text</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-heading.png"><span>Heading</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-draw.png"><span>Draw</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-image.png"><span>Picture</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-slideshow.png"><span>Slideshow</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-twitter.png"><span>Twitter</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-map.png"><span>Map</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-web.png"><span>Web page</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-label.png"><span>Label</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-3d.png"><span>3d object</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-promter.png"><span>Promter</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-mindmap.png"><span>Mindmap</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-youtube.png"><span>YouTube</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-smartgraph.png"><span>SmartGraph</span></a></li>
                                    <li><a><img src="/static/img/recorder/widget-timeline.png"><span>TimeLine</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="rec-center-column">
            <div id="dialog" title="Dialog Title">

                <h2 class="grayLight mb0">Projects</h2>

                <div class="dashboard-project-list dashboard-project-list-mini">
                    <div class="dashboard-project-list__inner">

                        <ul>
                            <li class="add-new">
                                <div>
                                    <span class="icon-plus"></span>
                                </div>
                            </li>
                            {% for i in range(5) %}
                            <li>
                                <img src="holder.js/100x80">
                                <div class="bottom-panel">
                                    <a class="icon-cog td-none fz16 right grayLight submenu-open"></a>

                                    <h5 class="fz13 mb0 mt0">Test project</h5>

                                    <div class="submenu" style="display: none;">
                                        <span class="icon-caret-up"></span>
                                        <ul>
                                            <li><a href="#"><i class="icon grayLight icon-edit fz16"></i> Rename</a></li>
                                            <li><a href="#"><i class="icon grayLight icon-level-down fz16"></i> Export Project</a></li>
                                            <li><a href="#"><i class="icon grayLight icon-remove-sign fz16"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>

            </div>
            <div id="rec-workspace" style="background: url('/static/img/recorder/rec-workspace-bg.png') no-repeat center center;">
                <div class="rec-placeholder" style="
                        width: 516px;
                        height: 390px;
                        position: absolute;
                        left: 300px;
                        top: 100px;">

                    <div class="rec-placeholder__inner">
                        <img src="/static/img/recorder/placeholder.png" alt="">

                        <div class="rec-placeholder__panel">
                            <span class="rec-placeholder__panel__username">
                                <a href="#" class="td-box-norm fz13">
                                    <i class="rec_sprite-icon-user"></i>
                                    <span class="bold">icarlyrocksyc</span>
                                </a> / Designer
                            </span>

                            <span class="rec-placeholder__panel__option right">
                                <span class="rec-placeholder__panel__option__inner">
                                    <span class="fz16 icon-caret-down"></span>
                                    <span class="fz16 icon-caret-up"></span>
                                </span>
                            </span>
                            <div class="rec-placeholder__panel__menu" style="display: none;">
                                <span class="icon-caret-up"></span>
                                <ul>
                                    <li><a href="#"><i class="icon rec_sprite-icon-vcard"></i> Subscribe presenter</a></li>
                                    <li><a href="#"><i class="icon rec_sprite-icon-channel"></i> Subscribe channel</a></li>
                                    <!-- li><a href="#"><i class="icon rec_sprite-icon-message"></i> Send message</a></li-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div id="rec-right-column">
            <div class="accordion">
                <div class="accordion-group active">
                    <div class="accordion-title">

                        <div class="column-block-title">
                            <div class="column-block-title__inner">
                                <img src="/static/img/recorder/icon-properties.png" class="mr5">
                                <span>Properties</span>
                            </div>
                        </div>

                    </div>
                    <div class="accordion-body">
                        <div class="p10">
                            <table class='form'>
                                <col width="30">
                                <col width="auto">
                                <col width="auto">
                                <tr>
                                    <td colspan="3">
                                        <input type="text" value="Undefined Stage" class="recorder-input">
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/recorder/icon-width.png"></td>
                                    <td><span class="fz13">Width</span></td>
                                    <td><input type="text" value="25px" class="recorder-input"></td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/recorder/icon-height.png"></td>
                                    <td><span class="fz13">Height</span></td>
                                    <td><input type="text" value="108px" class="recorder-input"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span class="fz13">Some property</span></td>
                                    <td><input type="text" value="Some text" class="recorder-input"></td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/recorder/icon-img.png"></td>
                                    <td><span class="fz13">Background</span></td>
                                    <td><input type="button" class="btn-recorder w100" value="Chose file..."></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span class="fz13">Brush</span></td>
                                    <td><input type="text" value="5 pix" class="recorder-input"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span class="fz13">SelectBox</span></td>
                                    <td><input type="text" value="http://www.ya" class="recorder-input"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span class="fz13">Cool?</span></td>
                                    <td><input type="checkbox"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="controls p5 pb10">
                <ul class="taj">
                    <li>
                        <a href="#" class="btn btn-recorder-passive">
                            <i class="icon-white icon-camera"></i> Save stage
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-recorder-passive">
                            <i class="icon-white icon-remove"></i> Delete stage
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="rec-bottom">
        <div class="panel">
            <div class="stages">
                <div class="stages__scroll">
                    <div class="stages__inner">
                    <div class="stages-block">
                        <div class="stages-block__inner">
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                        </div>
                        <div class="stages-block__title"><div>Any Girl Any Girl Any Girl Any Girl</div></div>
                    </div>

                    <div class="stages-block">
                        <div class="stages-block__inner">
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                            <div class="stages-item active"><img src="holder.js/106x60"></div>
                        </div>
                        <div class="stages-block__title">Undefined Modte</div>
                    </div>

                    <div class="stages-block">
                        <div class="stages-block__inner">
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                        </div>
                        <div class="stages-block__title">Undefined Modte</div>
                    </div>


                    <div class="stages-block">
                        <div class="stages-block__inner">
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                        </div>
                        <div class="stages-block__title">Undefined Modte</div>
                    </div>

                    <div class="stages-block">
                        <div class="stages-block__inner">
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                        </div>
                        <div class="stages-block__title"><div>Any Girl Any Girl Any Girl Any Girl</div></div>
                    </div>
                    {% for i in range(10) %}
                    <div class="stages-block">
                        <div class="stages-block__inner">
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                            <div class="stages-item active"><img src="holder.js/106x60"></div>
                        </div>
                        <div class="stages-block__title">Undefined Modte</div>
                    </div>

                    <div class="stages-block">
                        <div class="stages-block__inner">
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                        </div>
                        <div class="stages-block__title">Undefined Modte</div>
                    </div>
                    {% endfor %}

                    <div class="stages-block">
                        <div class="stages-block__inner">
                            <div class="stages-item"><img src="holder.js/106x60"></div>
                        </div>
                        <div class="stages-block__title">Undefined Modte</div>
                    </div>

                    <div class="stages-action">
                        <div class="stages-block__inner">
                            <a class="stages-block__copy-stage"></a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="stages-row">
                <div class="scroll-bar">

                    <div class="tool-bar">
                        <a href="#" class="mr5"><i class="rec_sprite-icon-copy"></i></a>
                        <a href="#" class="mr5"><i class="rec_sprite-icon-new"></i></a>
                        <a href="#" class="mr5"><i class="rec_sprite-icon-plus"></i></a>
                        <a href="#" class="mr5"><i class="rec_sprite-icon-home"></i></a>

                        <span class="splitter"></span>

                        <a href="#" class=""><i class="rec_sprite-icon-back"></i></a>
                        <a href="#" class=""><i class="rec_sprite-icon-next"></i></a>
                    </div>
                </div>
            </div>
            <div class="splitter mb5"></div>

            <div class="timelines">
                <div class="timelines__scroll">
                    <div class="timelines__inner">

                        <div class="time-study">
                            2:23 / <strong>3:54</strong>
                        </div>

                        <div class="titles">
                            <div class="titles__inner">
                                <div class="titles__item">
                                    <i class="rec_sprite-icon-unlock"></i> Stages
                                </div>
                                <div class="titles__item">
                                    <i class="rec_sprite-icon-lock"></i> Video
                                </div>
                                <div class="titles__item">
                                    <i class="rec_sprite-icon-lock"></i> Music
                                </div>
                            </div>
                        </div>

                        <div class="lines ">
                            <div class="lines__inner" style="width: 2000px">
                                <div class="times">
                                    <div class="time">0:00</div>
                                    <div class="time">0:30</div>
                                    <div class="time">1:00</div>
                                    <div class="time">1:30</div>
                                    <div class="time">2:00</div>
                                    <div class="time">2:30</div>
                                    <div class="time">3:00</div>
                                    <div class="time">3:30</div>
                                    <div class="time">4:00</div>
                                    <div class="time">4:30</div>
                                    <div class="time">5:00</div>
                                    <div class="time">5:30</div>
                                </div>

                                <div class="cursor" style="left: 768px;"></div>

                                <div class="line-item">
                                    <div class="area blue " style="width: 900px;">
                                        <!-- Тут не должно быть пробелов! -->
                                        <div class="part" style="width: 30%;"><span>2:44</span></div><div class="part" style="width: 50%;"><span>2:44</span></div><div class="part" style="width: 5%;"><span>2:44</span></div><div class="part" style="width: 15%;"><span>2:44</span></div>
                                    </div>
                                    <div class="area null" style="width: 100px;"></div>
                                </div>

                                <div class="line-item">
                                    <div class="area null" style="width: 40px;"></div>
                                    <div class="area anthracite passive" style="width: 300px;">
                                        <!-- Тут не должно быть пробелов! -->
                                        <div class="part" style="width: 30%;"><span>2:44</span></div><div class="part" style="width: 20%;"><span>2:44</span></div><div class="part" style="width: 25%;"><span>2:44</span></div><div class="part" style="width: 25%;"><span>2:44</span></div>
                                    </div>
                                    <div class="area null" style="width: 100px;"></div>
                                    <div class="area anthracite passive" style="width: 900px;">
                                        <div class="part" style="width: 100%;"><span>2:44</span></div>
                                    </div>
                                </div>

                                <div class="line-item">
                                    <div class="area yellow passive" style="width: 450px;">
                                        <div class="part" style="width: 100%;"><span>2:44</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="splitter"></div>
            <div class="timeline-row">
                <div class="scroll-bar">

                    <div class="tool-bar">

                        <a class="btn btn-recorder"><i class="rec_sprite-icon-play"></i></a>
                        <a class="btn btn-recorder"><i class="rec_sprite-icon-record"></i> Record</a>
                        <a class="btn btn-recorder"><i class="rec_sprite-icon-publish"></i> Publish</a>

                        <a href="#" class=""><i class="rec_sprite-icon-cut"></i></a>
                        <a href="#" class=""><i class="rec_sprite-icon-plus"></i></a>

                        <span class="splitter"></span>

                        <a href="#" class=""><i class="rec_sprite-icon-back"></i></a>
                        <a href="#" class=""><i class="rec_sprite-icon-next"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}