{% extends '__base.html' %}

{% block container %}
<div class="profile-substrate" style="background: #C72000 url('/static/img/userplate-pattern-1.png')">
    <div class="container">
        <div class="row">
            <div class="span2">
                <div class="base-header-avatar">
                    <img src="holder.js/130x130" alt="">
                </div>
            </div>
            <div class="span13">
                <h3 class="mt0">
                    <a class="white" href="#">Semyachkin Vitaly</a><br>
                    <small class="bold white">Дизайнер</small>
                </h3>
                <p class="white fz12">
                    Все об играх и не только.
                    За оскорбительные высказывания в адрес авторов или видеороликов, выложенных на канале - перманентный блок. Давайте будем взаимновежливы!
                    По всем вопросам и предложениям, а также если вы хотите стать нашим автором.
                </p>

                <div class="subscriber-plate mr10">
                    <a href="/subscribers/" class="active"><i class="icon-rss"></i> 12 subscribers</a>
                    <a href="/subscribtions/"><i class="icon-share"></i> 3 Subscribtions</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span10 offset2">
            <h2>Semyachkin Vitaly subscribers</h2>

            {% for i in range(10) %}
                <div class="list_video-item list_users-item">
                    <div class="list_video-item__inner">
                        <div class="btn-group subscribe pull-right">
                            <button class="btn lefted btn-mini"><i class="sprites-icon-plus-white"></i></button>
                            <button class="btn btn-mini">Subscribe</button>
                        </div>
                        <div class="pull-left mr10 mb10">
                            <img src="holder.js/48x48" class="avatar">
                        </div>
                        <div class="mb15 pl60">
                            <a href="/profile/" class="fz13 bold">alexander tobin</a>
                            <br>

                            <div class="fz12 mb30">
                                Техник, почтовик и затейник
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}