{# extends '__base_usersetting.html' #}
{% block content %}
<div class="form-placeholder mb40">
    <h2 class="ml100 pl50">E-mail settings</h2>
    <form action="#" class="form-horizontal_full">
        <div class="control-group">
            <label for="email" class="control-label">New email</label>
            <div class="controls">
                <input type="text" placeholder="name@domain.com" id="email">
                <div class="help-block">Enter yor new email to recive notification</div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn"><i class="icon-refresh"></i> Change email</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}