{% extends '__base_usersetting.html' %}
{% block content %}
    <a name="usersettings_account"></a>{% include 'usersettings_account.html' %}
    <a name="usersettings_email"></a>{% include 'usersettings_email.html' %}
    <a name="usersettings_password"></a>{% include 'usersettings_password.html' %}
    <a name="usersettings_social"></a>{% include 'usersettings_social.html' %}
{% endblock %}