{# extends '__base_usersetting.html' #}
{% block content %}

<div class="control-group left mt20 mr20">
    <div class="controls">

        <div class="avatar">
            <div id="change-avatar" class="popover top" style="margin-top: 30px !important ;">
                <div class="arrow"></div>
                <div class="popover-content" >
                    <ul class="menu">
                        <li>
                            <input type="file" class="avatar-upload">
                            <a href="#" class="#">
                                <i class="icon-upload"></i>
                                Upload from disc
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-remove"></i> Delete avatar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <span class="-form-field">
                <a class="change-avatar-link">
                    Change avatar
                </a>
                <img src="holder.js/160x160" width="160">
            </span>
        </div>
    </div>
</div>

<div class="form-placeholder mb40 left span6">
    <form action="#" class="form-vertical_full">
        <h2 class="bold">
            Alexander Tobin
        </h2>
        <div class="control-group">
            <label for="occupation" class="control-label">Occupation</label>
            <div class="controls">
                <textarea class="mb0" placeholder="Your occupation" id="occupation"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label for="occupation" class="control-label">About you</label>
            <div class="controls">
                <textarea rows="5" class="mb0" placeholder="Tell us about your" id="description"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn"><i class="icon-refresh"></i> Change data</button>
            </div>
        </div>
    </form>
</div>
<br class="clear">
{% endblock %}